/* Enter your custom styles here */
.t1
{
    font-weight: bolder;
    color: dodgerblue ;
}

.bar 
{
    padding-left: 100px;
}

.t4
{
    padding-left: 50px;
    font-weight: bolder;
    color: dodgerblue ;
    padding-top: 10px;
}
