/* Enter your custom styles here */

.vb2 {
    padding-left: 180px;
}

.vb1
{
    padding-left: 20px !important;
}

.t2 
{
    padding-left: 544px;
    font-weight: bolder;
    color: cornflowerblue;
    
}
.t1
{
    padding-left: 20px;
    font-weight: bolder;
    color: cornflowerblue;
    
}
.h1
{
   padding-top: 10px;
    
}

.don2
{
    background-color: beige;
}
.don1
{
    background-color: beige;
}



